<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./handle.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="form">
            <input id="input-add" type="text" placeholder="nhập task">
            <button id="btn-add">Add</button>
        </div>
        <ul id="list-task">
        </ul>
    </div>
</body>

</html>